body {
background-color: #1c1c1c;
}

.modal__content {
font-family: 'Poppins', serif;
color: #fff;
background-color: #1c1c1c;
margin: 0 auto;
padding: 1rem;
width: auto;
animation-name: modalopen;
animation-duration: 1s;
backface-visibility: hidden; 
}

@media screen and (min-width: 1171px) and (max-width: 2048px) {
.modal__content {
    width: 70%; } 
}

@keyframes modalopen {
from {
    opacity: 0; }
to {
    opacity: 1; } 
}
.modal__content-header {
    font-size: 1.6rem; 
}
.modal__content-text {
    font-size: 1rem; 
}
.modal__content-footer {
    font-size: 1.2rem; 
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: inherit;
    font-size: inherit;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ff6464;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5ac8fa;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    background-color: #383838;
    padding: 20px;
  } 
