.circle {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: 16rem;
    right: 59rem;
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    z-index: 1;
    overflow: hidden;

    @include atMedium {
        top: 32rem;
        left: 40rem;
        width: 180px;
        height: 180px;
    }

    @include atLarge {
        right: 10rem;
        top: 30rem;
        width: 180px;
        height: 180px;
    }
}