.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(49, 49, 49, 0.75);

    &__content {
        font-size: 1.6rem;
        color: $color-white;
        background-color: #1c1c1c;
        margin: 10% auto;
        padding: 20px;
        width: 90%;
        box-shadow: 0 5px 8px 0 rgba(0, 0 , 0, .3);

        &-closeBtn {
            float: right;
            display: inline-block;
            font-size: 5rem;
            font-weight: 700;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                color: #666;
            }
        }
    }
}